{# Variable delimiters changed to angle brackets to avoid collision with BibTeX's grammar #}
@inproceedings {<< paper_name >>,
 title = {{<< title  >>}},
 author = {<< authors|join(' and ') >>},
 booktitle = {{<< venue >>}},
 year = {<< year >>}
}
