<html>
  <head>
    <script type="text/javascript" language="javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/static/jquery.dataTables.js"></script>

    <style type="text/css">
      @import "/static/list_papers.css";
    </style>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#paper_list_table').dataTable({
      "sDom": '<"top"flp>rt<"bottom"i><"clear">',
      "sPaginationType": "full_numbers" });
      } );
    </script>

    <script type="text/javascript" language="javascript" src="/static/changecontents.js"></script>

    <title>[paper-pile] list papers</title>
  </head>
  <body>
    <form action="/reload" method="post">
      <input type="submit" value="Reload Metadata"/>
    </form>
    <table id="paper_list_table">
      <thead>
        <tr>
          <th>Paper Name</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Venue</th>
          <th>Year</th>
          <th>Date Read</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        {% for paper_name in paper_metadata %}
        <tr>
          <td><a href="/view/{{ paper_name }}">{{ paper_name }}</a></td>
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'title');">{{ paper_metadata[paper_name]["title"] }}</td>
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'authors');">{{ paper_metadata[paper_name]["authors"] | join(', ')}}</td>
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'venue');">{{ paper_metadata[paper_name]["venue"] }}</td>
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'year');">{{ paper_metadata[paper_name]["year"] }}</td>
          {% if paper_metadata[paper_name]["date-read"] == None %}
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'date-read');">Unknown</td>
          {% elif paper_metadata[paper_name]["date-read"] == "unread" %}
          <td class="unread" onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'date-read');">{{paper_metadata[paper_name]["date-read"]}}</td>
          {% else %}
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'date-read');">{{paper_metadata[paper_name]["date-read"]}}</td>
          {% endif %}
          {% if paper_metadata[paper_name]["tags"] == None %}
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'tags');"></td>
          {% else %}
          <td onDblClick="javascript:changeContent(this, '{{ paper_name }}', 'tags');">{{paper_metadata[paper_name]["tags"]}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
